.box{
    width: 40%!important;
    padding: 40px!important;
    background: #191919;
    text-align: center;
    transition: .25s!important;
    margin-top: 100px!important;
    margin-left: auto!important;
    margin-right: auto!important;
}

.box input[type="text"]{
    border:0px;
    background: none;
    margin: 20px;
    text-align: center;
    border: 2px solid rgb(179, 41, 179);
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .25s;
}
.box input[type="email"]{
    border:0px;
    background: none;
    margin: 20px;
    text-align: center;
    border: 2px solid rgb(248, 190, 81);
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .25s;
}
.box input[type="password"]{
    border:0px;
    background: none;
    margin: 20px;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .25s;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-size: 500;
}

.box input[type="text"]:focus,
.box input[type="email"]:focus,
.box input[type="password"]:focus{
    width: 300px;
    border-color: #2ecc71;
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 15px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #2ecc71;
}

.already {
    text-decoration: underline;
}